{cyan}──────────────────────────────────────────────────────────────────────{/cyan}

## Task

Prepare your development environment for native Node.js add-ons

{cyan}──────────────────────────────────────────────────────────────────────{/cyan}

## Description

To pass this exercise you simply need to have a development environment with all the required tools installed.

You need:

A recent and **stable version of Node.js**: unstable releases are not tested with this workshop and should be avoided. Visit http://nodejs.org/ to download a new version or use your local package manager to upgrade.

A **compiler**: specifically, a (non-ancient) C++ compiler, we will require **gcc** or LLVM gcc on OS X. {gcc}

**Python**: version 2.7.x is preferred for use by GYP, a build generation tool used for configuring and compiling Node.js add-ons. {python}

**node-gyp**: a recent version installed globally with `sudo npm install node-gyp -g`. node-gyp wraps GYP and produces builds specifically targeted for Node.js. Install with `sudo npm install -g node-gyp`.

If you are unsure, simply run `{appname} verify` and we'll tell you what versions you have.

{cyan}──────────────────────────────────────────────────────────────────────{/cyan}

 __»__ To print these instructions again, run: `{appname} print`
 __»__ To verify you have the correct environment, run: `{appname} verify`
 __»__ For help run: `{appname} help`
